/repl
/target
/lib
/classes
/checkouts
/dev-resources/public/js/*
/out
/public/cljs
pom.xml
pom.xml.asc
.DS_Store
*.jar
*.class
*.iml
.idea
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.lein-cljsbuild*
.lein-repl*
.crossover-cljs
.repl
.nrepl-port
